flask
gunicorn
flask_sqlalchemy
stripe
requests
python-dotenv
pandas
numpy
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio 
transformers
fastapi
uvicorn
honcho
finnhub-python
pytrends
