flask
flask_sqlalchemy
fastapi
uvicorn
gunicorn
honcho
stripe
requests
python-dotenv
torch
torchvision
torchaudio 
transformers
pandas
numpy
urllib3
finnhub-python
yfinance
pytrends
fpdf
--extra-index-url https://download.pytorch.org/whl/cu118
